.my-custom-card
{
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #424549;
    margin: 5px;
}

.custom-icon-link
{
    padding: 50px;
    vertical-align: center;
}

.imgcv1
{
    background-image: url("/assets/images/JoshDun.jpg");
    height: 560px;
    background-position: 860px 655px;
}

.imgcv2
{
    background-image: url("/assets/images/TylerJoseph.jpg");
    height: 560px;
    background-position: 660px 955px;
}

.centered-text {
    display: flex;
    align-items: center;
  }